
{% extends "base/base.html" %}
{% block pagina_contenido %}
 <!-- Dropdown Card Example -->
 <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Detalles del Catedrático</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
<div class="card-body">
<!DOCTYPE html>
<html>
  <body>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p><span class=> Nombres del Catedrático: </span> <br> {{catedratico.NombresCatedratico}}</p>
      <p><span class=> Apellidos del Catedrático: </span> <br> {{catedratico.ApellidosCatedratico}}</p>
      <p><span class=> Tipo de Documento: </span> <br> {{catedratico.Documento}}</p>
      <p><span class=> Documento: </span> <br> {{catedratico.NumDocumento}}</p>
      <p><span class=> Fecha de Nacimiento del Catedrático: </span> <br> {{catedratico.FechaNacimientoCatedratico}}</p>
      <p><span class=> Teléfono del Catedrático: </span> <br> {{catedratico.Tel_Catedratico}}</p>
 
    <a href="{%  url 'listar_catedraticos' %}" type="submit" class="btn btn-primary">
    <i class="fas fa-reply"></i> Volver</a>
    </form>
  </body>
</div>
</div>
{% endblock pagina_contenido %}
</html>