
{% extends "base/base.html" %}
{% block pagina_contenido %}
   <a href="{% url 'niveles_crear' %}">
   <div class=" background-color: #6610F2">
    <button class="card-header py-3  flex-row align-items-center justify-content-between bg-white"style=" width: -100PX;">
        <h6 class="m-0 font-weight-bold text-primary">Niveles educativos</h6>
    </button>
    </a>

    <a href="{% url 'tutor_crear' %}">
    <button class="card-header py-3  flex-row align-items-center justify-content-between bg-white"style="width: -100PX;">
        <h6 class="m-0 font-weight-bold text-primary">Tutores</h6>
    </button>
    </a>

    <a href="{% url 'alumno_crear' %}">
    <button class="card-header py-3  flex-row align-items-center justify-content-between bg-white"style="width: -100PX;">
        <h6 class="m-0 font-weight-bold text-primary">Alumnos</h6>
    </button>
    </a>

    <a>
    <button class="card-header py-3  flex-row align-items-center justify-content-between bg-white"style="width: -200PX;">
        <h6 class="m-0 font-weight-bold text-primary">Expedientes escolares</h6>
    </button>
    </a>

    <a href="{% url 'expedientemedico_crear' %}">
    <button class="card-header py-3  flex-row align-items-center justify-content-between bg-white"style="width: -200PX;">
        <h6 class="m-0 font-weight-bold text-primary">Expedientes Medicos</h6>
    </button>
    </a>

    <a href="{% url 'reporte_crear' %}">
    <button class="card-header py-3  flex-row align-items-center justify-content-between bg-white"style="width: -100PX;">
        <h6 class="m-0 font-weight-bold text-primary">Reportes</h6>
    </button>
    </a>

    <a href="{% url 'horarios_crear' %}">
    <button class="card-header py-3  flex-row align-items-center justify-content-between bg-white"style="width: -100PX;">
        <h6 class="m-0 font-weight-bold text-primary">Horarios</h6>
        <a class="dropdown-item mr-4" ></a>
    </button>
    </a>
    <hr></hr>
    
    
   </div>

   <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Matriculas</h6>
        <div class="dropdown no-arrow justify-content-end">
            <a class="dropdown-item mr-4" href="{% url 'matricula_crear' %}">
                <i class="fas fa-user-plus fa-lg fa-fw mr-2 text-gray-400"></i>
                Matricula nueva
            </a>
            <a class="dropdown-item mr-4" href="{% url 'matricula_listar' %}">
                <i class="fas fa-users fa-lg fa-fw mr-2 text-gray-400"></i>
                Listar Matriculas
            </a>
        </div>
    </div>
 </div>
   
 
 <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Catedráticos</h6>
        <div class="dropdown no-arrow justify-content-end">
            <a class="dropdown-item mr-4" href="{% url 'crear_catedratico' %}">
                <i class="fas fa-user-plus fa-lg fa-fw mr-2 text-gray-400"></i>
                Agregar nuevo
            </a>
            <a class="dropdown-item mr-4" href="{% url 'listar_catedraticos' %}">
                <i class="fas fa-users fa-lg fa-fw mr-2 text-gray-400"></i>
                Listar Catedráticos
            </a>
        </div>
    </div>
 </div>
 <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Empleados</h6>
        <div class="dropdown no-arrow justify-content-end">
            <a class="dropdown-item mr-4" href="{% url 'crear_empleado' %}">
                <i class="fas fa-user-plus fa-lg fa-fw mr-2 text-gray-400"></i>
                Agregar nuevo
            </a>
            <a class="dropdown-item mr-4" href="{% url 'listar_empleados' %}">
                <i class="fas fa-users fa-lg fa-fw mr-2 text-gray-400"></i>
                Listar Empleados
            </a>
        </div>
    </div>
 </div>
 <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Asignaturas</h6>
        <div class="dropdown no-arrow justify-content-end">
            <a class="dropdown-item mr-4" href="{% url 'asignatura_crear' %}">
                <i class="fas fa-user-plus fa-lg fa-fw mr-2 text-gray-400"></i>
                Agregar nuevo
            </a>
            <a class="dropdown-item mr-4" href="{% url 'asignatura_listar' %}">
                <i class="fas fa-users fa-lg fa-fw mr-2 text-gray-400"></i>
                Listar Asignaturas
            </a>
        </div>
    </div>
 </div>  
 <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Grados y secciones</h6>
        <div class="dropdown no-arrow justify-content-end">
            <a class="dropdown-item mr-4" href="{% url 'grado_crear' %}">
                <i class="fas fa-user-plus fa-lg fa-fw mr-2 text-gray-400"></i>
                Agregar nuevos
            </a>
            <a class="dropdown-item mr-4" href="{% url 'grado_listar' %}">
                <i class="fas fa-users fa-lg fa-fw mr-2 text-gray-400"></i>
                Listar grados-seccion
            </a>
        </div>
    </div>
 </div>  
 <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"> Notas</h6>
        <div class="dropdown no-arrow justify-content-end">
            <a class="dropdown-item mr-4" href="{% url 'notas_crear' %}">
                <i class="fas fa-user-plus fa-lg fa-fw mr-2 text-gray-400"></i>
                Agregar Notas
            </a>
            <a class="dropdown-item mr-4" href="{% url 'notas_listar' %}">
                <i class="fas fa-users fa-lg fa-fw mr-2 text-gray-400"></i>
                Listar notas
            </a>
        </div>
    </div>
 </div>  
 <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"> Notas</h6>
        <div class="dropdown no-arrow justify-content-end">
            <a class="dropdown-item mr-4" href="{% url 'parciales_crear' %}">
                <i class="fas fa-user-plus fa-lg fa-fw mr-2 text-gray-400"></i>
                Agregar Notas
            </a>
            <a class="dropdown-item mr-4" href="{% url 'parciales_listar' %}">
                <i class="fas fa-users fa-lg fa-fw mr-2 text-gray-400"></i>
                Listar notas
            </a>
        </div>
    </div>
 </div>
 <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"> Facturación</h6>
        <div class="dropdown no-arrow justify-content-end">
            <a class="dropdown-item mr-4" href="{% url 'facturacion_crear' %}">
                <i class="fas fa-user-plus fa-lg fa-fw mr-2 text-gray-400"></i>
                Agregar Facturación
            </a>
            <a class="dropdown-item mr-4" href="{% url 'facturacion_listar' %}">
                <i class="fas fa-users fa-lg fa-fw mr-2 text-gray-400"></i>
                Listar Facturación
            </a>
        </div>
    </div>
 </div>
 <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"> Tipo Sanguineo</h6>
        <div class="dropdown no-arrow justify-content-end">
            <a class="dropdown-item mr-4" href="{% url 'tiposanguineo_crear' %}">
                <i class="fas fa-user-plus fa-lg fa-fw mr-2 text-gray-400"></i>
                Agregar Tipo Sanguineo
            </a>
            <a class="dropdown-item mr-4" href="{% url 'tiposanguineo_listar' %}">
                <i class="fas fa-users fa-lg fa-fw mr-2 text-gray-400"></i>
                Listar Tipos Sanguineo
            </a>
        </div>
    </div>
 </div>
          
</body>
    
        

{% endblock pagina_contenido %}
</html>