
{% extends "base/base.html" %}
{% block pagina_contenido %}
 <!-- Dropdown Card Example -->
 <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Detalles del Empleado</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
<div class="card-body">
<!DOCTYPE html>
<html>
  <body>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p><span class=> Nombres del Empleado: </span> <br> {{empleado.NombresEmpleado}}</p>
      <p><span class=> Apellidos del Empleado: </span> <br> {{empleado.ApellidosEmpleado}}</p>
      <p><span class=> Tipo de Documento del Empleado: </span> <br> {{empleado.DocumentoDPI}}</p>
      <p><span class=> Número del Documento: </span> <br> {{empleado.DPI}}</p>
      <p><span class=> Fecha de Nacimiento del Empleado: </span> <br> {{empleado.FechaNacimientoEmpleado}}</p>
      <p><span class=> Categoría de Empleado: </span> <br> {{empleado.CategoriaEmpleado}}</p>
      <p><span class=> Teléfono del Empleado: </span> <br> {{empleado.Tel_Empleado}}</p>
 
    <a href="{%  url 'listar_empleados' %}" type="submit" class="btn btn-primary">
    <i class="fas fa-reply"></i> Volver</a>
    </form>
  </body>
</div>
</div>
{% endblock pagina_contenido %}
</html>