{% extends "base/base.html" %}
{% block pagina_contenido %}
<div class="card-body">
    <h1>¿Estás seguro de que deseas eliminar el Tutor?</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" id="id" name="Id" value="{{ tutor.id }}" class="form-control" disabled readonly>
        </div>
        <div class="form-group">
            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" name="Nombres" value="{{ tutor.NombresTutor }}" class="form-control" disabled readonly>
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos:</label>
          <input type="text" id="apellidos" name="Apellidos" value="{{ tutor.ApellidosTutor }}" class="form-control" disabled readonly>
        </div>
        <div class="form-group">
          <label for="documentodpi">Documento DPI:</label>
          <input type="text" id="documentodpi" name="Docuemnto DPI" value="{{ tutor.DocumentoDPI }}" class="form-control" disabled readonly>
        </div>
        <div class="form-group">
          <label for="dpi">DPI:</label>
          <input type="text" id="dpi" name="DPI" value="{{ tutor.DPI }}" class="form-control" disabled readonly>
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono:</label>
          <input type="text" id="telefono" name="Teléfono" value="{{ tutor.Tel_Tutor }}" class="form-control" disabled readonly>
        </div>
        <div class="form-group">
          <label for="parentesco">Parentesco:</label>
          <input type="text" id="parentesco" name="Parentesco" value="{{ tutor.Parentesco }}" class="form-control" disabled readonly>
        </div>
        <div class="btn-group">
            <button class="btn btn-danger" type="submit" onclick="mensaje();"><i class="fas fa-trash-alt"></i> Eliminar</button>
            <a class="btn btn-secondary" href="{% url 'tutor_listar' %}"><i class="fas fa-times"></i> Cancelar</a>
        </div>
    </form>
</div>

<script>
    function mensaje() {
        alert("¿Seguro que desea eliminar?");
    }
</script>
{% endblock pagina_contenido %}
