{% extends 'base/base.html' %}

{% block pagina_contenido %}
<div class="card-body">
    <h1>¿Estás seguro de que deseas eliminar el nivel educativo ?"</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" id="id" name="Id" value="{{ reporte.id }}" class="form-control" disabled readonly>
        </div>
        <div class="form-group">
            <label for="tiporeporte">Tipo Reporte:</label>
            <input type="text" id="tiporeporte" name="Tipo Reporte" value="{{ reporte.TipoReporte }}" class="form-control" disabled readonly>
        </div>
        <div class="form-group">
            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" name="Nombres" value="{{ reporte.Alumno }}" class="form-control" disabled readonly>
        </div>
        <div class="btn-group">
            <button class="btn btn-danger" type="submit" onclick="mensaje();"><i class="fas fa-trash-alt"></i> Eliminar</button>
            <a class="btn btn-secondary" href="{% url 'reporte_listar' %}"><i class="fas fa-times"></i> Cancelar</a>
        </div>
    </form>
</div>

<script>
    function mensaje() {
        alert("¿Seguro que desea eliminar?");
    }
</script>
{% endblock %}
