{% extends "base/base.html" %}
{% block barra_arriba %}
{% endblock barra_arriba %}
{% block pagina_contenido %}
<!-- Dropdown Card Example -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Detalles del Usuario</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><span class="font-weight-bold">Nombre de usuario: </span><br>{{ usuario.username }}</p>
                <p><span class="font-weight-bold">Rol: </span><br>{{ usuario.rol.nombre }}</p>
                <p><span class="font-weight-bold">Activo: </span><br>{{ usuario.activo }}</p>

                <a href="{% url 'usuario_listar' %}" class="btn btn-primary">
                    <i class="fas fa-reply"></i> Volver
                </a>
            </form>
        </div>
    </div>
</div>
{% endblock pagina_contenido %}
