{% extends "base/base.html" %}
{% block pagina_contenido %}
<div class="card-body">
    <h1>¿Estás seguro de que deseas eliminar el tipo de pago "?</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" id="id" name="Id" value="{{ tipopago.id }}" class="form-control" disabled readonly>
        </div>
        <div class="form-group">
            <label for="tipodepago">Tipo de pago:</label>
            <input type="text" id="tipodepago" name="nombre" value="{{ tipopago.nombre }}" class="form-control" disabled readonly>
        </div>
        <div class="form-group">
            <label for="precio del pago">Descripción:</label>
            <input type="text" id="tipodepago" name="descripcion" value="{{ tipopago.descripcion }}" class="form-control" disabled readonly>
        </div>
        <div class="form-group">
            <label for="precio del pago">Precio del pago:</label>
            <input type="text" id="tipodepago" name="monto" value="{{ tipopago.monto }}" class="form-control" disabled readonly>
        </div>
        <div class="btn-group">
            <button class="btn btn-danger" type="submit" onclick="mensaje();"><i class="fas fa-trash-alt"></i> Eliminar</button>
            <a class="btn btn-secondary" href="{% url 'tipopago_listar' %}"><i class="fas fa-times"></i> Cancelar</a>
        </div>
    </form>
</div>

<script>
    function mensaje() {
        alert("¿Seguro que desea eliminar?");
    }
</script>
{% endblock pagina_contenido %}