

{% extends "base/base.html" %}
{% block pagina_contenido %}

<div class="card-body">
    <form method="post">
        {% csrf_token %}
        <h1>¿Estás seguro de que deseas eliminar el  Alumno?</h1>
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" id="id" name="Id" value="{{ alumno.id }}" class="form-control" disabled readonly>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="Nombre" value="{{ alumno.NombresAlumno }}" class="form-control" disabled readonly>
        </div>
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="Apellido" value="{{ alumno.ApellidosAlumno }}" class="form-control" disabled readonly>
        </div>
        <div class="form-group">
            <label for="dpi">DPI:</label>
            <input type="text" id="dpi" name="DPI" value="{{ alumno.DPI }}" class="form-control" disabled readonly>
        </div>
        <div class="form-group">
            <label for="grado">Grado:</label>
            <input type="text" id="grado" name="Grado" value="{{ alumno.Grado }}" class="form-control" disabled readonly>
        </div>
        <div class="btn-group">
            <button class="btn btn-danger" type="submit" onclick="mensaje();"><i class="fas fa-trash-alt"></i> Eliminar</button>
            <a class="btn btn-secondary" href="{% url 'alumno_listar' %}"><i class="fas fa-times"></i> Cancelar</a>
        </div>
    </form>

    <script>
        function mensaje() {
            alert("¿Seguro que desea eliminar?");
        }
    </script>
</div>
{% endblock pagina_contenido %}
